<h2>Dashboard</h2>
Today :<%= @current_date %>
</br>
Last invoice : <%= @last_invoice %>
</br>
Next 30 days sales forcast: <%= @next_30_forcast %>
</br>
Last year sales :<%= @last_year_sales %>
</br>
Current year sales:<%= @current_year_sales %>
</br>
New crop in <%= @till_new_crop.to_i %> days 
